* {
    font-family: 'Inconsolata', monospace;
    background: black;
    color: white;
}

button {
    border: 2px solid white;
    outline: none;
}

.powerGen:hover {
    background: yellow;
    color:black;
    border: 2px solid yellow;
}

button:hover {
    background: white;
    color:black;
}

button:focus { outline: none }